<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dice Hero Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_login_css.css' %}">

</head>
<body>
    <div class="container entire_page">
        <div class="row">
            <p class="title">Choose your hero </p>
        </div>
        <!-- end of header -->
        <div class="main_content flex-col">
            {% for hero in heroes %}
                <form action="/inspect_hero" method="post">
                    {% csrf_token %}
                    <button name="hero_id" value="{{ hero.id }}" class="btn btn-outline-primary" style="margin-top:10px"> {{ hero.name }} [#{{ hero.id }}]</button>
                </form>
            {% endfor %}
            </ul>
        </div>
        <!-- end of main content -->
        <div class="row">
            <form action='/dice_reset' method="post">
                {% csrf_token %}
                <input type='hidden' name='reset' value="logout">
                <button type='submit' class="btn btn-warning">Logout</button>
            </form>
        </div>
    </div>
    <!-- end of entire page     -->
</body>
</html>