<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dice Hero Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/hero_login_css.css' %}">

</head>
<body>
    <div class="container entire_page">
        <div class="row">
            <p class="title">Login to Dice Hero! </p>
        </div>
        <!-- end of header -->
        <div class="main_content">
            <div class="login_box">
                <h3>Login</h3>
                <div>
                    <form action='/process_login' method='post' class="hero_login">
                        {% csrf_token %}
                        <div class="login_bar">
                            <label for="new_hero_name">Hero Name:</label>
                            <input type="text" name="login_name" placeholder="Hero name here" class="input_bar">
                        </div>
                        <div class="login_bar">
                            <label for="new_hero_name">ID:</label>
                            <input type="text" name="login_id" placeholder="Hero ID here" class="input_bar">
                        </div>
                        <div class="login_bar">
                            <label for="new_hero_name">Email:</label>
                            <input type="text" name="login_email" placeholder="User email here" class="input_bar">
                        </div>
                        <div class="create_button">
                            <input type='hidden' name='login'>
                            <button type='submit' class="btn btn-primary top_buttons">Login</button>
                        </div>
                    </form>
                    <div class="row2">
                        <form action="/create_hero">
                            <button type="submit" class="btn-primary top_buttons ">Create New Hero</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- end of main content -->
    </div>
    <!-- end of entire page     -->
</body>
</html>