* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    margin: 0;
    padding: 0;
}

*{
    margin: 0px auto;
}


.entire_page {
    width: 900px;
    height: 900px;
}

.header {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.title {
    color: gold;
    font-size: 42px;
    width: 75%;
    display: flex;
    justify-content: center;
    
}

.main_content {
    width: 100%;
    height: 70%;
    border: 1px solid black;
}

.action_screen {
    background-size: 100% 100%;
    background: url("/static/img/bg/dark_canyon.png") no-repeat center center;
    height: 58%;
}

.battle_bg {
    width: 100%;
    height: 100%;

}



.action_bar {
    height: 10%;
}



.create_hero_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.create_hero_bar {
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.create_button {
    width: 8.5%;
    margin-top: 25px;
}

.action_bar {
    border: 1px solid black;
    margin-left: 0px;
}

.enemy_bar {
    background-color: rgb(250, 129, 129);
    border: 2px solid black;
    border-bottom: 1px solid black;
    color: white;
}

.hero_bar {
    background-color: rgb(137, 137, 247);
    border: 2px solid black;
    border-top: 1px solid black;
    color: white;
}

.status_column {
    height: 100%;
    display:flex;
    flex-flow: row;
    justify-content: space-between;

}

.active_player {
    width: 25%;
    height: 100%;
    font-size: 12px;
}

.roll_results {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}


.action_text {
    font-size: 24px;
}

.enemy_status_text {
    font-size: 20px;
    width: 100%;
    height: 50%;
}

.hero_status_text {
    font-size: 20px;
    width: 100%;
    height: 50%;
}

.enemy_roll {
    color: red;
    font-size: 33px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.hero_roll {
    color: blue;
    font-size: 33px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.activity_log_box {
    width: 100%;
    height: 22%;
    background-color: beige;
    display: flex;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.hero_log_box {
    width: 50%;
    height: 100%;
    color: blue;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.enemy_log_box {
    width: 50%;
    height: 100%;
    color: red;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.results_body {
    height: 25%;
    width: 100%;
}

.footer {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    flex-flow: row;
    border: 1px solid black;
    margin-left: 0px;

}


.hero_roll_box {
    width: 65%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 10px;
}

.hero_btn_box {
    width: 25%;
}

.hero_btn {
    padding: 15px;
}

.enemy_roll_box {
    width: 25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px;
}
.enemy_btn {
    padding: 15px;
}

.flex_col_cen {
    display: flex;
    justify-content: center;
}
